<!DOCTYPE html>
<html lang="pt-br" ng-app="nopsInChurch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="includes/css/reset.css">
    <link rel="stylesheet" href="includes/css/style.css">
    <title>inChurch Front-end 2018 - Natan Silva</title>
</head>
<body>
    <div class="container" ng-controller="nopsController" ng-init="init()">
        <header>
            <h1>CRUD</h1>
        </header>
        <main>
            <section class="usersList">
                <p>{{message}}</p>
                <ul>
                    <li ng-repeat="user in returnUsersList | orderBy:'id' " id="{{user.id}}">
                        <img src="{{user.avatar}}" alt="">
                        <input id="lastName" type="text" value="{{user.last_name}}" disabled>
                        <input id="firstName" type="text" value="{{user.first_name}}" disabled>
                        <a class="editBtn" ng-show="!editing" ng-click="edit($event)">Edit</a>
                        <a class="cancelBtn" ng-click="edit($event)" style="display: none;">Cancel</a>
                        <a class="updateBtn" ng-click="checkForSubmitUpdates($event)" style="display: none;">Update</a>
                        <a class="deleteBtn" ng-click="confirmForDelete($event)" style="display: none;">Delete</a>
                    </li>
                </ul>
            </section>
            <section class="addNewUser" ng-show="adding">
                <input class="newLastName" ng-model="newLastName" type="text" placeholder="Last name">
                <input class="newFirstName" ng-model="newFirstName" type="text" placeholder="First name">
                <input class="newUrlLink" ng-model="newUrlLink" type="text" placeholder="Url's Img">
                <a class="submitNewUserBtn" ng-click="checkForSubmitNewUser()">SUBMIT</a>
                <a class="cancelNewUserBtn" ng-click="addNewUser()">CANCEL</a>
            </section>
            <section class="functions">
                <button class="addBtn" ng-click="addNewUser()" ng-disabled="adding" ng-class="(adding)? 'opacity' : ''">ADD</button>
                <div id="loader-wrapper" ng-show="loading">
                    <span></span>
                </div>
                <button class="loadBtn" ng-show="hasMoreUsers" ng-click="requestUsers()">LOAD MORE</button>
            </section>
        </main>
        <footer></footer>
    </div>
    <script src="includes/js/angular.min.js"></script>
    <script src="includes/js/jquery-3.3.1.min.js"></script>
    <script src="includes/js/core.js"></script>
</body>
</html>