.container{
    width: 80%;
    min-height: 1000px;
    margin: 0 auto;
    /* text-align: center; */
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #000;
    font-size: 13px;
}   

.container a{
    cursor: pointer;
}
.container a:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.container header{
    text-align: center;
    position: relative;
}
.container header h1{
    font-size: 30px;
    width: 589px;
    margin: 0 auto;
}
.container main section{
    text-align: left;
    margin-top: 0px;
    position: relative;
}

.container main .usersList ul{
    background-color: transparent;
    margin: 10px auto;
    border: 0px solid #1B1B1B;
    width: 100%;
    text-align: left;
    max-height: 400px;
    overflow: auto;
    color: #1B1B1B;
}

.container main .usersList li{
    height: 60px;
    background-color: #f9f6f2;
    padding: 10px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.container main .usersList li:hover{
    background-color: darkkhaki;
}
.container main .usersList li img{
    display: inline;
    width: 60px;
}

.container main .usersList li input:disabled{
    font-size: 20px;
    background-color: transparent;
    border: 0px solid #ccc;
    width: 4em;
    position: absolute;
    padding-left: 20px;
}
.container main .usersList li input#firstName:disabled{
    top: 33px;
    font-size: 16px;
}
.container main .usersList li input#lastName:disabled{
    top: 12px;
    font-size: 18px;
}

.container main input{
    font-size: 18px;
    background-color: transparent;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000;
    color: #222;
}
.container main .usersList li .editBtn{
    position: absolute;
    right: 20px;
}
.container main .usersList li .cancelBtn{
    position: absolute;
    right: 20px;
}
.container main .usersList li .updateBtn{
    position: absolute;
    right: 159px;
}
.container main .usersList li .deleteBtn{
    position: absolute;
    right: 90px;
}

.container main .addNewUser{
    height: 150px;
    background-color: #f9f6f2;
    margin-top: -7px;
    padding: 20px 0px;
    text-align: center;
}
.container main .addNewUser .newUrlLink{
    display: block;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 45px;
}
.container main .addNewUser a{
    margin-top: 20px;
}
.container main .addNewUser .submitNewUserBtn{
    margin-right: 73px;
}

.container main .functions{
    height: 80px;
    margin-top: 10px;
}
.container main .functions button{
    padding: 13px 66px;
    cursor: pointer;
}
.container main .functions button.loadBtn{
    background-color: transparent;
    border: 0px solid;
    padding: 13px 66px;
    cursor: pointer;
    color: #222;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
    float: right;
    margin-top: 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid #b2cd56;
}
.container main .functions button.loadBtn:hover{
    background-color: #b2cd56;
    color: #fff;
}

.container main .functions button.addBtn{
    background-color: #b2cd56;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    float: left;
    margin-top: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border: 1px solid #b2cd56;
}
.container main .functions button.addBtn:hover{
    /* background-color: #e4ff87; */
}

.opacity{
    opacity: 0.6;
}






/* #loader-wrapper{position:fixed; left:0px; top:0px; width:100%; height:100%; z-index: 11; overflow:hidden; background:#7f7f7f;} */
#loader-wrapper{
    bottom: -80px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 58%;
}
#loader-wrapper.act{background:none;}
#loader-wrapper:after{position:absolute; left:50%; top:50%; margin-left:-127px; margin-top:-128px; content:""; width:20px; height:20px; border-radius:5px; border:3px solid #ccc; -webkit-animation: magic-mouse 2.1s infinite ease; animation: magic-mouse 2.1s infinite ease;}
#loader-wrapper span{position:absolute; left:50%; top:50%; margin-left:-137px; margin-top:-138px; content:""; width:40px; height:40px; border-radius:10px; border:3px solid #b2cd57; -webkit-animation: magic-mouse1 1s infinite ease; animation: magic-mouse1 1s infinite ease;}
@keyframes magic-mouse{
  0% {transform: scale(1) rotate(0deg);}
  50% {transform: scale(0.5) rotate(90deg);}
  100% {transform: scale(1) rotate(0deg);}
}
@-webkit-keyframes magic-mouse{
  0% {-webkit-transform: scale(1) rotate(0deg);}
  50% {-webkit-transform: scale(0.5) rotate(90deg);}
  100% {-webkit-transform: scale(1) rotate(0deg);}
}
@keyframes magic-mouse1{
  0% {transform: scale(1) rotate(0deg);}
  50% {transform: scale(0.5) rotate(-90deg);}
  100% {transform: scale(1) rotate(0deg);}
}
@-webkit-keyframes magic-mouse1{
  0% {-webkit-transform: scale(1) rotate(0deg);}
  50% {-webkit-transform: scale(0.5) rotate(-90deg);}
  100% {-webkit-transform: scale(1) rotate(0deg);}
}